body {
background: url(../HoneyComb_Pictures/honeytable.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

/* html body {
  height: 100%;
} */

.wrapper {
  /* background-color: rgba(0, 0, 0, 0.502); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.header {
  background-color: white;
  position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 120px;
}

.header i {
  color: black;
  padding-left: 35px;
  padding-right: 5px;

}
/* honey colors, 
  #8e4200
  #db6f02	
  #ff9624	
  #ffb825	
  #ffd69c */

  #Bee-Logo {
    height: 100px;
    width: 160px;
    float: right;
    margin-right: 20px;
    margin-top: 8px;
  }

  #color1 {
    background-color: white;
    color: #8e4200;
    display: inline-block;
    font-size: x-large;
    font-weight: bold;

  }
  #color2 {
    background-color: white;
    color: #db6f02;
    display: inline-block;
    font-size: x-large;
    font-weight: bold;



  }
  #color3 {
    background-color: white;
    color: #ff9624;
    display: inline-block;
    font-size: x-large;
    font-weight: bold;



  }
  #color4 {
    background-color: white;
    color: #ffb825;
    display: inline-block;
    font-size: x-large;
    font-weight: bold;



  }
  #color5 {
    background-color: white;
    color: #ffd69c;
    display: inline-block;
    font-size: x-large;
    font-weight: bold;


  }

/* .title {
  width: 200px;
  background-color: black;
  padding: 5px 5px 5px 30px;
  margin-left: 5px;
  display: inline-block;
  color: #8e4200;
} */

.menuOptions {
  display: inline-block;
  padding: 33px 5px 5px 30px;
  font-family: "Josefin Sans", sans-serif;


}


/* honey comb hexagon grid css */
.honeyCombContainer {
  margin-top: 348px;
  margin-left: 120px;
  --s: 150px; /* control the size */
  --g: 10px;  /* control the gap */
  display: grid;
  /* leave note 9/2/22 center hexagon is a div that runs across the page, need to let text below share space */
  /* margin: calc(var(--s) + var(--g)); */
}

.honeyCombContainer > img {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1.15;
  object-fit: cover;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%,75% 100%,25% 100%,0 50%);
  transform: translate(var(--_x,0),var(--_y,0)) scale(var(--_t,1));
  cursor: pointer;
  filter: grayscale(0);
  transition: .2s linear;
}
.honeyCombContainer > img:hover {
  filter: grayscale(80%);
  z-index: 1;
  --_t: 1.2;
}

.honeyCombContainer > img:nth-child(1) {--_y: calc(-100% - var(--g))}
.honeyCombContainer > img:nth-child(7) {--_y: calc( 100% + var(--g))}
.honeyCombContainer > img:nth-child(3),
.honeyCombContainer > img:nth-child(5) {--_x: calc(-75% - .87*var(--g))}
.honeyCombContainer > img:nth-child(4),
.honeyCombContainer > img:nth-child(6) {--_x: calc( 75% + .87*var(--g))}
.honeyCombContainer > img:nth-child(3),
.honeyCombContainer > img:nth-child(4) {--_y: calc(-50% - .5*var(--g))}
.honeyCombContainer > img:nth-child(5), 
.honeyCombContainer > img:nth-child(6) {--_y: calc( 50% + .5*var(--g))}

.honeyCombContainer > img:nth-child(8) {--_x: calc( 150% + .87*var(--g)*2)}
.honeyCombContainer > img:nth-child(8) {--_y: calc( 100% + .5*var(--g)*2)}

.honeyCombContainer > img:nth-child(9) {--_x: calc( 150% + .87*var(--g)*2)}

/* .honeyCombContainer > img:nth-child(10) {--_y: calc( 150% + var(--g)*1.5)}
.honeyCombContainer > img:nth-child(10) {--_x: calc( 75% + .87*var(--g))} */

.honeyCombContainer > img:nth-child(11) {--_x: calc( 227% + .87*var(--g)*2.5)}
.honeyCombContainer > img:nth-child(11) {--_y: calc( 50% + .5*var(--g))}


.mainTitle {
  color: #ff9624;
  display: inline-block;
  margin-top: 130px;
  margin-left: 200px;
  font-size: 400%;
  font-family: "Sofia", sans-serif;
}

.mainTitle1 {
float: right;
/* padding-top: 23px; */
font-family: "Sofia", sans-serif;
font-size: 400%;
margin: auto;
padding-right: 20px;
text-shadow: 2px 2px #db6f02;


}


.PageTextDivWrapper{
width: 600px;
height: 100vh;
float: right;
background-color: rgba(255, 214, 156, 0.8);
/* opacity: 0.5; */

/* padding-top: 200px; */
/* margin-right: 100px; */
/* justify-content: center; */
}

.PageTextDiv {
  margin-top: 200px;
  text-align: center;
  width: 600px;
  
}

.mainText {
  width: 550px;
  margin: auto;
  margin-bottom: 25px;
  color: white;
  display: block;
  padding: 3px;
  font-family: "Josefin Sans", sans-serif;

}

.mainTextHead {
  width: 500px;
  margin: auto;
  display: block;
  color: white;
  margin-bottom: 25px;
  padding: 3px;
  text-align: center;
  font-size: 350%;
  font-family: "Cardo", sans-serif;

}
/* .mainText h3 {
  color: #db6f02;
  font-family: "Cardo", sans-serif;

} */

#button {
  font-family: "Josefin Sans", sans-serif;
  background-color: #8e4200;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button {
  background-color: #ffb825 !important;

}

.footer {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 165px;
  position: absolute;
  background-color: ivory;
}

